<!doctype html>
<!--{% load static %}-->

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{ title }} </title>
    <link rel="stylesheet" href="{% static 'todolist/css/uistyle.css' %}">
    <link rel="stylesheet" href="{% static 'todolist/css/style.css' %}">

</head>
<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">ТУДУ</h1>
        <div class="ui form">
            <div class="field">
                <label>Новая задача</label>
                <input type="text" name="title" placeholder="Введите название задачи" id="newtask_title"><br>
            </div>
            <button class="black button" onclick="addTask()">Добавить</button>
        </div>
        <div id="filter_group">

        </div>
    
    <div id="tasks_list">

    </div>
    </div>
    <script src="{% static 'todolist/js/code.js' %}" asp-append-version="true"></script>    
    <script type="text/javascript"> ButtonsFilters();getTasks();</script>

</body>
</html>
